{{ block "contact" . }}
<html>

<head>
    <title>Our First HTML Site!</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>

<body>
    {{ template "contact-form" . }}
    <hr />
    {{ template "contact-display" . }}
</body>

</html>
{{ end }}

{{ block "contact-form" . }}
<form hx-post="/contacts">
    <label for="name">Name</label>
    <input name="name" placeholder="Name">

    <label for="email">Email</label>
    <input type="email" name="email" placeholder="Email">

    <button type="submit">Submit</button>
</form>
{{ end }}

{{ block "contact-display" . }}
{{ range .Contacts }}
<div>
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
</div>
{{ end }}
{{ end }}
